.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .header ul {
    list-style: none;
    padding: 0;
  }
  
  .header ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .header ul li:last-child {
    margin-right: 0;
  }
  
  .header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header ul li a:hover {
    text-decoration: underline;
  }
  